mixin header(mixes)
  include ./_imports/import

  .header(class=(mixes) && `${mixes}__header`)
    img.header__logo(src=require('../../components/header/img/logo.svg') alt='Логотип')

    h1.header__title Будьте первым!

    h2.header__subtitle кто соберёт полную информацию о вашей нише

    p.header__text Сервис AboutBrand – это уникальная платформа анализа и управления представлением производителя товаров в e-commerce. Мы собираем отзывы со всех популярных коммерческих площадок, автоматизируем оценки объема рынка, аналитика представленности, популярности в интернете, контроль цен – и все это в сравнении с конкурентами. Каждая ниша имеет тонкости и требует индивидуального подхода.

    br
    
    p.header__text Наш сервис сейчас стремительно развивается и нам требуются консультанты в различных сферах бизнеса, чтобы сделать охват по всем сферам деятельности в рунете. Нам нужна Ваша помощь - и мы готовы сделать щедрое предложение.

    button.header__btn(type='button') Оставить заявку

    img.header__rocket-img(src=require('../../components/header/img/rocket.svg') alt='Изображение ракеты')
